.container {
  display: flex;
  list-style-type: none;
  gap: 20px;
  align-items: center;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #545f7d;
}

.previous {
  background: rgba(33, 63, 125, 0.1);
  border-radius: 4px;
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
  color: #213f7d;
  font-size: 16px;
  cursor: pointer;
}

.next {
  background: rgba(33, 63, 125, 0.1);
  border-radius: 4px;
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
  color: #213f7d;
  font-size: 16px;
  cursor: pointer;
}

.active {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #545f7d;
}
