.navbar {
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  width: 100%;
  box-sizing: border-box;
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  // gap: 168.2px;
  // justify-content: none;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .search_box {
    display: flex;
    flex-direction: row;
    width: 400px;
    border: 1px solid #213f7d;
    border-radius: 8px;
    padding-left: 20px;
    height: 40px;
    margin-left: 168.2px;

    input {
      border: none;
      outline: none;
      background-color: transparent;
      width: 100%;
      box-sizing: border-box;
    }

    .search_btn {
      cursor: pointer;
      width: 56px;
      background: #39cdcc;
      display: grid;
      place-items: center;
      border-radius: 0px 8px 8px 0px;
    }
  }
}

.right_content {
  display: flex;
  flex-direction: row;
  align-items: center;

  h5 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: underline;
    color: #213f7d;
    cursor: pointer;
  }

  img:nth-child(2) {
    margin-left: 50.16px;
  }

  img:nth-child(3) {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    margin-left: 33.16px;
  }

  h6 {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #213f7d;
    margin-left: 10px;
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    // gap: 0;
  }

  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
    // box-sizing: border-box;

    .search_box {
      display: none;
    }
  }

  .right_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid red;
    width: 100%;

    h5 {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 16px;
      text-decoration-line: underline;
      color: #213f7d;
      cursor: pointer;
    }

    img:nth-child(2) {
      margin-left: 10.16px;
    }

    img:nth-child(3) {
      width: 46px;
      height: 46px;
      border-radius: 100%;
      margin-left: 13.16px;
    }
    h6 {
      display: none;
    }
  }
}
